/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

@media (min-width: 960px) {

  .wpcomplete-settings {
    margin-right: 350px;
  }

  .wpcomplete-settings .content {
    width: 100%;
    float: left;
  }

  .wpcomplete-settings .sidebar {
    float: right;
    margin-right: -350px;
    width: 330px;
    padding-right: 20px;
  }

}

.wpcomplete-settings .logo, .wrap .logo {
  max-width: 28px;
  margin: 0 auto;
}

.column-utilities, .column-completable, .column-started {
    width: 150px;
}

.column-completable a {
  display: block;
}

.wpcomplete-settings .content select {
  max-width: 400px;
}

.wpcomplete-settings .wp-picker-container {
    display: inline-block;
}

.wpcomplete-settings .wpcomplete-checkbox-container {
  font-weight: 600;
}

.wpcomplete-settings .wpcomplete-checkbox-container input {
  float: left;
  margin-bottom: 20px;
  margin-top: 2px;
  margin-right: 10px;
}

.wpcomplete-settings .sidebar ul {
  list-style: inside disc;
}

.wpcomplete-settings .postbox h2 {
  font-size: 14px;
  padding: 8px 12px;
  margin: 0;
  line-height: 1.4;
  border-bottom: 1px solid #eee;
  -webkit-user-select: none;
}

.profeature:after {
  content: "PRO FEATURE";
  display: inline-block;
  color: #fff;
  background: #9d9fcf;
  border-radius: 2px;
  font-size: 10px;
  font-weight: 700;
  padding: 3px 8px;
  margin: 10px 0;
  line-height: 1;
}

#completion_redirect_to {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 100%;
  height: 1.7em;
  width: 100%;
  outline: 0;
  margin: 0 0 3px;
  background-color: #fff;
}
